{% extends 'core/base.html' %}

{% block container %}
<div class="col-sm-6 offset-sm-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="{{ todo.category.get_absolute_url }}">{{ todo.category.title }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ todo.title }}</li>
    </ol>
  </nav>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ todo.title }}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Kategori: {{todo.category}}</h6>
      {% if todo.content %}
      <p class="card-text">{{ todo.content }}</p>
      {% else %}
      <h1 class="text-danger display-7 mb-4">Açıklama Yok...</h1>
      {% endif %}
      <ul class="list-unstyled">
        <li class="list-group-item"><small>Oluşturulan zaman: {{ todo.created_at|date:"d/m/Y -H:s" }}</small></li>
        <li class="list-group-item"><small>Son güncellenen zaman: {{ todo.updated_at|date:"d/m/Y -H:s" }}</small></li>
      </ul>
      <a href="/" class="card-link">Geriye Dön</a>
    </div>
  </div>
  <ul class="list-inline mt-2">
    {% for tag in todo.tag.all %}
    <li class="list-inline-item">
      <a href="{{ tag.get_absolute_url }}" class="">
        <span class="badge rounded-pill text-bg-primary">{{ tag }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock container %}